img.img-responsive.logo {
	max-height: 50px;
	margin: auto;
}

.panel .table>thead>tr>th:first-child, .panel .table>thead>tr>th:last-child,
.panel .table>tbody>tr>td:first-child,.panel .table>tbody>tr>td:last-child{
	padding-left: 10px;
}

.navbar-default .brand {
	padding: 0px 19px;
	background-color: #fff;
	width: 260px;
	text-align: center;
}
.fullwidth{
	width: 100%;
}
hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

td>ul {
    padding: 0px 10px;
}

.note-editor ul{
	padding: inherit !important;
}
.no-top-padding {
	padding-top: 0px !important;
}

div#tab-areas-lista {
    padding-top: 10px;
}
.jstree-default .jstree-search {
    font-style: normal !important; 
    color: black !important;
    font-weight: 700;
}
.smart-widget{
    margin-bottom: 0px;
}



.row.toptoolbar {
	margin-bottom: -43px;
	text-align: right;
}
img.flag {
    width: 24px;
    height: 24px;
    margin: 0px 5px 0px 0px;
}
div#s2id_coauthors {
    width: 100%;
}

.form-group {
    width: 100%;
}

.panel .table>tbody>tr>td:first-child {
	padding-left: 10px;
}

.smart-widget.no-borders {
	border: 0px;
}

.feature-wrapper {
	margin-bottom: 30px;
}

.mypanel-avatar span.stat-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 30px;
	border-radius: 50em;
	-moz-border-radius: 50em;
	-webkit-border-radius: 50em;
	float: left;
	margin-right: 20px;
	color: #fff;
}

.bg-white {
	background: lightgray;
}

.note-editor .note-editing-area .note-editable {
	padding: 6px 12px;
	border: 1px solid #e4e4e4;
	box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.activity-tag {
	background: #326ba8 !important;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: xx-large;
	color: rgba(255, 255, 255, 0.5);
}

.qrcode img {
	width: 100%;
}

.alert.alert-success {
	background: lightblue;
}

.data-detail {
	background: lightgray;
	padding: 5px;
	min-height: 29px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 4px;
}

.vertical-align-wrap {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
}

.google-maps-link {
	display: none;
}

.place-card.place-card-medium {
	display: none;
}

.tp-caption a {
	padding: 22px 40px 22px 40px !important;
	margin-left: 10px !important;
}

.front-end-navbar.affix-top .navbar-nav>li>a.btn-warning {
	color: black;
}

.front-end-navbar.affix-top .navbar-nav>li>a.btn-warning:hover {
	color: #3287B2;
}

.front-end-wrapper nav.navbar-collapse.bs-navbar-collapse.collapse {
	padding: 0px;
}

.col-sm-6.flex-item.promovideo {
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.embed-responsive {
	min-width: 280px;
}

.vertical-align-wrap .flex-item {
	flex: 1;
}

@media only screen and (max-width: 600px) {
	.vertical-align-wrap {
		flex-direction: column;
	}
}

.navbar-nav>li>a img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

.form-horizontal .form-group {
	margin-left: 0;
}

.foto-usuario {
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.navbar-nav .dropdown-menu {
	border-top: 2px solid #ACB0B5 !important;
}

.width {
	width: 30px !important;
}

.smart-widget-body {
	border: 1px solid #ddd;
}

.md-top-50 {
	margin-top: -50px;
}

.flex-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mb-4, .my-4 {
	margin-bottom: 1.5rem !important;
}

.mb-6, .my-6 {
	margin-bottom: 2.1rem !important;
}

.btn-default {
	color: white;
	background-color: lightgray;
}

.btn {
	transition: all .15s ease-in-out;
}

.btn-group-sm>.btn, .btn-sm {
	border-radius: .2rem;
}

.btn-outline-secondary {
	color: #6c757d;
	background-color: transparent;
	background-image: none;
	border-color: #6c757d;
}

.btn-outline-secondary:hover {
	color: white;
	background-color: #6c757d;
}

.help-inline.error {
	margin: 5px 0px -5px 0px;
	color: darkred;
	padding: 3px 0px 3px 0px;
}

.foto-usuario img {
	width: 100%;
	max-width: 255px;
}

.alert.alert-danger {
	background: lightpink;
}

.navbar-fixed-top .navbar-btn {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.cpanel ul.nav.navbar-nav.navbar-right {
	height: 78px;
}

.cpanel ul.nav.navbar-nav.navbar-right li.dropdown {
	height: 75px;
}

#wrapper footer {
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
}

.layout-fullwidth #wrapper footer {
	width: 100%;
}

footer.main {
	padding: 0px !important;
	margin: 0px !important;
	min-height: auto !important;
}

.breadcrumbs {
	margin: 0px 0px 10px 0px;
}

.navbar-brand img {
	height: 60px;
	margin-left: 10px;
}

.fullheight {
	min-height: calc(100vh - 314px);
	height: auto;
}

.bg-black {
	background: black;
}

.navbar-brand {
	float: left;
	height: 70px;
	padding: 7px 0px;
}

.cracha .panel {
	padding: 30px;
}
.row.toptoolbar{
  text-align:end;
  margin-bottom:-40px;
}
.cracha small img {
	height: 40px;
}

.mypanel-list ul {
	list-style: none;
	margin-bottom: 0;
}

.mypanel-body {
	padding: 10px;
	margin-bottom: 10px;
}

.mypanel-wrapper {
	/* height: 100%; */
	/* min-height: 100%; */
	overflow: hidden;
}

.myflex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.autoheigt {
	height: auto;
}

.user-profile-pic .embed-responsive {
	min-width: 180px;
}

li.item-flex {
	flex-grow: 1;
	max-width: 430px;
}

.mypanel-list ul li {
	float: left;
	padding: 10px;
	min-width: 320px;
}

.mypanel-list ul li .mypanel-avatar {
	float: left;
}

.mypanel-list ul li .mypanel-avatar img {
	width: 70px;
	height: 70px;
}

.mypanel-list ul li .mypanel-detail {
	margin-left: 100px;
	text-align: left;
}

.no-bg {
	background: transparent;
}

@media print {
	.col-lg-3.cracha {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.navbar-nav>li>a {
		padding: 28px 20px;
	}
	#wrapper #sidebar-nav, #wrapper .main {
		padding-top: 82px;
	}
	.navbar-nav .open .dropdown-menu {
		margin-top: 0px;
	}
	.navbar-nav>li {
		display: table-cell;
		width: auto;
		position: inherit;
		text-align: right;
		float: right;
	}
	.front-end-wrapper .navbar-nav>li {
		display: contents;
		text-align: center;
	}
	.tp-caption a {
		padding: 10px 20px 10px 20px !important;
		margin-left: auto !important;
	}
	.md-top-50 {
		margin: 20px;
	}
	.user-profile-wrapper  .tab-right li {
		width: 100% !important;
		text-align: center;
	}
	.mypanel-list ul li .mypanel-detail {
		padding-top: 100px;
		margin: auto;
		text-align: center;
	}
	.fullheight {
		min-height: calc(100vh - 140px);
	}
	.activity-tag {
		text-align: center;
		margin: auto;
	}
	.myflex {
		flex-direction: column;
	}
	.mypanel-list ul li {
		float: left;
		width: 100%;
		min-width: 180px;
	}
	.mypanel-list ul li .mypanel-avatar {
		float: left;
		width: 100%;
		display: block;
	}
	.mypanel-avatar span.stat-icon {
		float: none;
		margin: auto;
	}
}

@media screen and (max-width: 1024px) {
	.md-top-50 {
		margin-top: 0px;
	}
	.mypanel-list ul li {
		padding: 10px;
	}
}
